<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="/js/home/login.js" defer></script>
</head>
<body>
    <form action="/login" id="formLogin">
        <input id="loginId" type="text" placeholder="아이디"><br>
        <input id="loginPassword" type="password" placeholder="비밀번호"><br>
        <button>로그인</button>
        <a href="/register">회원가입 페이지</a>
    </form>
</body>
</html>